ir()
  text-indent -9999px

va()
  position relative
  top 50%
  transform translateY(-50%)

arrow(color=inherit, pos=top, size=8px, pad=0)
  position relative
  &:after
    content ""
    absolute pos
    {pos} -(size*2)
    margin-{pos} -(pad)
    border size solid transparent
    border-{opposite-position(pos)}-color color
    if pos is top or pos is bottom
      left 50%
      margin-{"left"} -(size)
    else
      top 50%
      margin-{"top"} -(size)
